@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
